$light-green: #7ed56f;
$medium-green: #55c57a;
$darker-green: #28b485;

$light-orange: #ffb900;
$darker-orange: #ff7730;

$light-blue: #2998ff;
$darker-blue: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$text-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;

$text-white: #fff;
$color-black: #000;

// FONT
$font-size-default: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

